In [8]:
import pandas as pd

In [9]:
pwd

'C:\\Users\\S1130866\\Downloads'

In [10]:
MDO = pd.read_excel(r'C:\Users\S1130866\Downloads\Event_actuals_data_sept_updated_2023_04_10_2023.xlsx',sheet_name = 'MDO Events')
TM = pd.read_excel(r'C:\Users\S1130866\Downloads\Event_actuals_data_sept_updated_2023_04_10_2023.xlsx',sheet_name = 'TM Events')

In [11]:
MDO = (MDO.set_index(MDO.columns.drop('List of Attendees selected',1).tolist())['List of Attendees selected']
   .str.split(',', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'List of Attendees selected'})
   .loc[:, MDO.columns]
)


TM = (TM.set_index(TM.columns.drop('Attendees',1).tolist())['Attendees']
   .str.split(',', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'Attendees'})
   .loc[:, TM.columns]
)

In [12]:
MDO.to_csv("MDO_Event_actuals_data_sept_updated_2023_04_10_2023.csv")
TM.to_csv("TM_Event_actuals_data_sept_updated_2023_04_10_2023.csv")

In [13]:
MDO.shape

(369355, 10)

In [ ]:
MDO

In [25]:
import pandas as pd

In [26]:
pwd

'C:\\Users\\S1130866\\Downloads'

In [32]:
MDO = pd.read_excel(r'C:\Users\S1130866\Downloads\December Events Data.xlsx',sheet_name = 'MDO Events')
TM = pd.read_excel(r'C:\Users\S1130866\Downloads\December Events Data.xlsx',sheet_name = 'TM Events')
MDO['Attendees'] = MDO['Attendees'].fillna('NULL')
TM['Attendees'] = TM['Attendees'].fillna('NULL')

In [33]:
MDO.isnull().sum()

Division               0
Event                  0
Event Date             0
MDO Name            2526
MDO Head Quarter       0
Village             1892
Attendees              0
dtype: int64

In [34]:
TM.isnull().sum()

Division            0
Event               0
Event Date          0
TM Name             0
TM Head Quarter     0
Village            50
Attendees           0
dtype: int64

In [36]:
MDO = (MDO.set_index(MDO.columns.drop('Attendees',1).tolist())['Attendees']
   .str.split(',', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'Attendees'})
   .loc[:, MDO.columns]
)


TM = (TM.set_index(TM.columns.drop('Attendees',1).tolist())['Attendees']
   .str.split(',', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'Attendees'})
   .loc[:, TM.columns]
)

In [38]:
MDO.to_csv("MDO_December Events Data.csv")
TM.to_csv("TM_December Events Data.csv")

In [ ]:
#iMPORTING THE REQUIRED LIBRARY
import pandas as pd


#READING THE REQUIRED FILE
MDO = pd.read_excel(r'C:\Users\S1130866\Downloads\Event_actuals_data_sept_updated_2023_04_10_2023.xlsx',sheet_name = 'MDO Events')
TM = pd.read_excel(r'C:\Users\S1130866\Downloads\Event_actuals_data_sept_updated_2023_04_10_2023.xlsx',sheet_name = 'TM Events')

#SPLITTING THE DATA 

MDO = (MDO.set_index(MDO.columns.drop('Attendees',1).tolist())['Attendees']
   .str.split(',', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'Attendees'})
   .loc[:, MDO.columns]
)


TM = (TM.set_index(TM.columns.drop('Attendees',1).tolist())['Attendees']
   .str.split(',', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'Attendees'})
   .loc[:, TM.columns]
)


#sAVING THE TRANSFORMED FILES
MDO.to_csv("MDO_December Events Data.csv")
TM.to_csv("TM_December Events Data.csv")