In [1]:
import numpy as np 
import pandas as pd
import re 
import os

## Loading all the files 
### 2019 - 2021

In [2]:
df1 = pd.read_excel(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\2019-2021\Data19-21.xlsx")

In [3]:
df1.head()

,Type,Date,IMPORTER/EXPORTER NAME,ORIGIN/DESTINATION COUNTRY,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Product Name
0,Import,2021-01-15,KRISHI RASAYAN EXPORTS PRIVATE LIMITED,CHINA,EMAMECTIN BENZOATE 95% TECHNICAL.ACTUAL USER R...,3000.0,KGS,168.000000,504000.0000,USD,HUNAN GOFAR FINE CHEMICAL INDUSTR,EMAMECTIN,EMAMECTIN TECH 95%
1,Import,2021-01-28,WILLOWOOD CHEMICALS PVT LTD,CHINA,EMAMECTIN BENZOATE 95% TECH (CIB NO. CIR-1976/...,5000.0,KGS,155.240198,776200.9898,CNY,WILLOWOOD HANGZHOU CO LIMITED,EMAMECTIN,EMAMECTIN TECH 95%
2,Import,2021-02-05,SYNGENTA INDIA LIMITED,AUSTRIA,EVICENT 50 KG(EMAMECTIN BENZOATE 5% W/W+LUFENU...,1800.0,KGS,190.296299,342533.3379,INR,SYNGENTA ASIA PACIFIC PRIVATE LIMITED,EMAMECTIN,EMAMECTIN Others
3,Import,2021-02-19,SYNGENTA INDIA LIMITED,AUSTRIA,EVICENT 50 KG(EMAMECTIN BENZOATE 5% W/W+LUFENU...,2250.0,KGS,190.554503,428747.6312,INR,SYNGENTA ASIA PACIFIC PRIVATE LIMITED,EMAMECTIN,EMAMECTIN Others
4,Import,2021-03-04,CRYSTAL CROP PROTECTION LIMITED,CHINA,EMAMECTIN BENZOATE TECHNICAL 95% (MIN) (CIB NO...,3000.0,KGS,228.500000,685500.0000,USD,HEBEI VEYONG BIO CHEMICAL CO LIMITED,EMAMECTIN,EMAMECTIN TECH 95%

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24595 entries, 0 to 24594
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Type                        24595 non-null  object
 1   Date                        24595 non-null  datetime64[ns]
 2   IMPORTER/EXPORTER NAME      24595 non-null  object
 3   ORIGIN/DESTINATION COUNTRY  24595 non-null  object
 4   PRODUCT DESCRIPTION         24595 non-null  object
 5   QTY                         24595 non-null  float64
 6   UNIT                        24595 non-null  object
 7   UNIT PRICE (USD)            24595 non-null  float64
 8   Total_VALUE_USD             24595 non-null  float64
 9   INVOICE CURRENCY            24594 non-null  object
 10  SUPPLIER/BUYER NAME         23968 non-null  object
 11  Molecule Name               24507 non-null  object
 12  Product Name                24595 non-null  object
dtypes: datetime64[ns](1), float64(3), object(9)
memory usage: 2.4+ MB

In [5]:
df1.rename(columns = {'ORIGIN/DESTINATION COUNTRY':'Country'},inplace = True)

In [6]:
df1.isnull().sum()

Type                        0
Date                        0
IMPORTER/EXPORTER NAME      0
Country                     0
PRODUCT DESCRIPTION         0
QTY                         0
UNIT                        0
UNIT PRICE (USD)            0
Total_VALUE_USD             0
INVOICE CURRENCY            1
SUPPLIER/BUYER NAME       627
Molecule Name              88
Product Name                0
dtype: int64

In [7]:
df1 = df1.dropna()

In [8]:
df1.isnull().sum()

Type                      0
Date                      0
IMPORTER/EXPORTER NAME    0
Country                   0
PRODUCT DESCRIPTION       0
QTY                       0
UNIT                      0
UNIT PRICE (USD)          0
Total_VALUE_USD           0
INVOICE CURRENCY          0
SUPPLIER/BUYER NAME       0
Molecule Name             0
Product Name              0
dtype: int64

In [9]:
df1.shape

(23882, 13)

In [20]:
## 2022 - All months imp 
df2_imp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\Jan to July\38_Imp_TY2_Jan_to_Jul-22.csv",encoding = 'unicode_escape')
df2_exp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\Jan to July\38_Exp_TY2_Jan_to_Jul-22.csv",encoding = 'unicode_escape')
df3_imp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\August\38_Imp_TY2_Aug-22.csv",encoding = 'unicode_escape')
df3_exp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\August\38_Exp_TY2_Aug-22.csv",encoding = 'unicode_escape')
df4_imp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\September\38_Imp_TY2_Sep-22.csv",encoding = 'unicode_escape')
df4_exp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\September\38_Exp_TY2_Sep-22.csv",encoding = 'unicode_escape')
df5_imp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\October\38_Imp_TY2_Oct-22.csv",encoding = 'unicode_escape')
df5_exp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\October\38_Exp_TY2_Oct-22.csv",encoding = 'unicode_escape')
df6_imp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\November\38_Imp_TY2_Nov-22.csv",encoding = 'unicode_escape')
df6_exp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\November\38_Exp_TY2_Nov-22.csv",encoding = 'unicode_escape')
df7_imp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\December\38_Imp_TY2_Dec-22.csv",encoding = 'unicode_escape')
df7_exp = pd.read_csv(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Updated File\December\38_Exp_TY2_Dec-22.csv",encoding = 'unicode_escape')

In [21]:
df22_imp = pd.concat([df2_imp,df3_imp,df4_imp,df5_imp,df6_imp,df7_imp],axis = 0)

In [22]:
df22_imp.shape

(669940, 29)

In [23]:
df22_imp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669940 entries, 0 to 56359
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         669940 non-null  int64
 1   Port Code          669940 non-null  object
 2   Indian Port        669940 non-null  object
 3   Declaration No     669940 non-null  object
 4   Date               669940 non-null  object
 5   Importer Name      669940 non-null  object
 6   Address            669041 non-null  object
 7   City               663573 non-null  object
 8   CHA No             0 non-null       float64
 9   CHA Name           161593 non-null  object
 10  Country Origin     669939 non-null  object
 11  HS Code            669940 non-null  int64
 12  Goods Description  669939 non-null  object
 13  Quantity           669940 non-null  float64
 14  Unit               669940 non-null  object
 15  Unit Price Usd     669940 non-null  float64
 16  Total Value Usd    669940 non-null  float64
 17  Total_Duty_Usd     669940 non-null  float64
 18  Loading Port       161588 non-null  object
 19  Inv Currency       669940 non-null  object
 20  Supplier Name      669606 non-null  object
 21  Supplier Address   532609 non-null  object
 22  BE Type            669940 non-null  object
 23  IEC Phone          635210 non-null  object
 24  IEC Phone.1        370420 non-null  object
 25  IEC Contact        646427 non-null  object
 26  Product            669940 non-null  object
 27  suffix             669940 non-null  object
 28  IEC Email          259098 non-null  object
dtypes: float64(5), int64(2), object(22)
memory usage: 153.3+ MB

In [24]:
df2_imp.rename(columns = {'IEC Phone.1':'IEC Email'},inplace = True)

In [29]:
list1 = df2_imp.columns
list2 = df3_imp.columns
list3 = df4_imp.columns
list4 = df5_imp.columns
list5 = df6_imp.columns
list6 = df7_imp.columns

In [30]:
df22_exp.shape

(301915, 25)

In [31]:
## Concatinating the export data

In [32]:

df22_exp = pd.concat([df2_exp,df3_exp,df4_exp,df5_exp,df6_exp,df7_exp],axis = 0)

In [33]:
df22_exp.columns

Index(['Unnamed: 0', 'Declaration No', 'HS Four Digit', 'Date', 'HS Code',
       'Goods Description', 'Quantity', 'Unit', 'Currency', 'Unit Value Usd',
       'Fob Usd', 'Destination Port', 'Country', 'Indian Port',
       'Exporter Name', 'Address', 'City', 'Consinee Name', 'Consinee Address',
       'Port Code', 'IEC Phone', 'IEC Email', 'IEC Contact', 'Product',
       'suffix'],
      dtype='object')

In [34]:
df1.columns

Index(['Type', 'Date', 'IMPORTER/EXPORTER NAME', 'Country',
       'PRODUCT DESCRIPTION', 'QTY', 'UNIT', 'UNIT PRICE (USD)',
       'Total_VALUE_USD', 'INVOICE CURRENCY', 'SUPPLIER/BUYER NAME',
       'Molecule Name', 'Product Name'],
      dtype='object')

In [35]:
df2_exp.columns

Index(['Unnamed: 0', 'Declaration No', 'HS Four Digit', 'Date', 'HS Code',
       'Goods Description', 'Quantity', 'Unit', 'Currency', 'Unit Value Usd',
       'Fob Usd', 'Destination Port', 'Country', 'Indian Port',
       'Exporter Name', 'Address', 'City', 'Consinee Name', 'Consinee Address',
       'Port Code', 'IEC Phone', 'IEC Email', 'IEC Contact', 'Product',
       'suffix'],
      dtype='object')

In [36]:
## Bringing the Export file in the required format : 

### Block for altering the entire data into the required format

temp2 = df22_exp.drop(['Declaration No', 'HS Four Digit', 'HS Code','Destination Port','Indian Port','Address', 'City','Consinee Address','Port Code', 'IEC Phone', 'IEC Email', 'IEC Contact'],axis = 1)
temp2['Product Name'] = temp2['Product'] + " " + temp2['suffix']
temp2 = temp2.drop('suffix',axis = 1)
temp2['Type'] = 'Export'
temp2.rename(columns = {'Exporter Name':'IMPORTER/EXPORTER NAME','Country Origin':'Country','Goods Description':'PRODUCT DESCRIPTION','Quantity':'QTY','Unit':'UNIT','Unit Value Usd':'UNIT PRICE (USD)','Fob Usd':'Total_VALUE_USD','Currency':'INVOICE CURRENCY','Consinee Name':'SUPPLIER/BUYER NAME','Product':'Molecule Name'},inplace = True)

temp2 = temp2.loc[:,["Type","Date","IMPORTER/EXPORTER NAME","Country","PRODUCT DESCRIPTION","QTY","UNIT","UNIT PRICE (USD)","Total_VALUE_USD","INVOICE CURRENCY","SUPPLIER/BUYER NAME","Molecule Name","Product Name"]]
temp2['Product Name'].replace('Others Others','Others',inplace = True)

In [37]:
temp2.shape

(301915, 13)

In [38]:
df2_imp.columns

Index(['Unnamed: 0', 'Port Code', 'Indian Port', 'Declaration No', 'Date',
       'Importer Name', 'Address', 'City', 'CHA No', 'CHA Name',
       'Country Origin', 'HS Code', 'Goods Description', 'Quantity', 'Unit',
       'Unit Price Usd', 'Total Value Usd', 'Total_Duty_Usd', 'Loading Port',
       'Inv Currency', 'Supplier Name', 'Supplier Address', 'BE Type',
       'IEC Phone', 'IEC Email', 'IEC Contact', 'Product', 'suffix'],
      dtype='object')

In [39]:
### Block for altering the entire data into the required format


temp = df22_imp.drop(['Unnamed: 0','Port Code', 'Indian Port', 'Declaration No','Address', 'City', 'CHA No', 'CHA Name','HS Code','Total_Duty_Usd', 'Loading Port','Supplier Address', 'BE Type', 'IEC Phone','IEC Email', 'IEC Contact'],axis = 1)
temp['Product Name'] = temp['Product'] + " " + temp['suffix']
temp = temp.drop('suffix',axis = 1)
temp['Type'] = 'Import'
temp.rename(columns = {'Importer Name':'IMPORTER/EXPORTER NAME','Country Origin':'Country','Goods Description':'PRODUCT DESCRIPTION','Quantity':'QTY','Unit':'UNIT','Unit Price Usd':'UNIT PRICE (USD)','Total Value Usd':'Total_VALUE_USD','Inv Currency':'INVOICE CURRENCY','Supplier Name':'SUPPLIER/BUYER NAME','Product':'Molecule Name'},inplace = True)



temp = temp.loc[:,["Type","Date","IMPORTER/EXPORTER NAME","Country","PRODUCT DESCRIPTION","QTY","UNIT","UNIT PRICE (USD)","Total_VALUE_USD","INVOICE CURRENCY","SUPPLIER/BUYER NAME","Molecule Name","Product Name"]]
temp['Product Name'].replace('Others Others','Others',inplace = True)

In [40]:
temp.head()

,Type,Date,IMPORTER/EXPORTER NAME,Country,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Product Name
0,Import,2022-01-01,CHROMACHEMIE LABORATORY PRIVATE LIMITED,UNITED STATES,USP-1396342_METFORMIN RELATED COMPOUND C -(25 ...,4.0,NOS,734.136941,2936.547764,USD,THE UNITED STATES PHARMACOPEIA,Others,Others
1,Import,2022-01-01,CHROMACHEMIE LABORATORY PRIVATE LIMITED,UNITED STATES,USP-1432005_METHYLPARABEN -(125 MG)-(PHARMACEU...,19.0,NOS,198.046246,3762.878678,USD,THE UNITED STATES PHARMACOPEIA,Others,Others
2,Import,2022-01-01,CHROMACHEMIE LABORATORY PRIVATE LIMITED,UNITED STATES,USP-1441298_METOPROLOL SUCCINATE -(200 MG)-(PH...,4.0,NOS,421.701912,1686.807647,USD,THE UNITED STATES PHARMACOPEIA,Others,Others
3,Import,2022-01-01,CHROMACHEMIE LABORATORY PRIVATE LIMITED,UNITED STATES,USP-1446815_MONTELUKAST DICYCLOHEXYLAMINE -(15...,6.0,NOS,740.112486,4440.674919,USD,THE UNITED STATES PHARMACOPEIA,Others,Others
4,Import,2022-01-01,CHROMACHEMIE LABORATORY PRIVATE LIMITED,UNITED STATES,USP-1448617_MOXIFLOXACIN RELATED COMPOUND A -(...,3.0,NOS,734.136963,2202.410888,USD,THE UNITED STATES PHARMACOPEIA,Others,Others

In [41]:
temp2.head()

,Type,Date,IMPORTER/EXPORTER NAME,Country,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Product Name
0,Export,2022-01-01,UPL LIMITED,UNITED STATES,MANZATE MAX FORMULATION (FUNGICIDE),17929.62,KGS,1.814029,32524.850895,USD,UPL NA INC,manzate,manzate Others
1,Export,2022-01-01,MEGHMANI ORGANICS LIMITED,UNITED STATES,"INDIAN ORIGIN 2,4 DI-CHLORO PHENOXY ACET",90000.00,KGS,3.853177,346785.950961,USD,TO THE ORDER OF G,Others,Others
2,Export,2022-01-01,KAKADIYA CHEMICAL,SRI LANKA,"DISINFECTANT, SOLID, TOXIC, N.O.S. AVATO",53.10,MTS,435.553659,23127.899271,USD,TO THE ORDER OF G,avato,avato Others
3,Export,2022-01-01,KAKADIYA CHEMICAL,SRI LANKA,"DISINFECTANT, SOLID, TOXIC, N.O.S. AVATO",53.10,MTS,435.553659,23127.899271,USD,TO THE ORDER OF G,avato,avato Others
4,Export,2022-01-01,PERSANG ALLOY INDUSTRIES PRIVATE LIMITED,SAUDI ARABIA,SOLER PASTE FOR SOLDERING SH 6309 TYPE 4,20.00,KGS,140.490391,2809.807820,USD,PIONEER TECHNICAL SYSTE,Others,Others

In [42]:
df1.head()

,Type,Date,IMPORTER/EXPORTER NAME,Country,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Product Name
0,Import,2021-01-15,KRISHI RASAYAN EXPORTS PRIVATE LIMITED,CHINA,EMAMECTIN BENZOATE 95% TECHNICAL.ACTUAL USER R...,3000.0,KGS,168.000000,504000.0000,USD,HUNAN GOFAR FINE CHEMICAL INDUSTR,EMAMECTIN,EMAMECTIN TECH 95%
1,Import,2021-01-28,WILLOWOOD CHEMICALS PVT LTD,CHINA,EMAMECTIN BENZOATE 95% TECH (CIB NO. CIR-1976/...,5000.0,KGS,155.240198,776200.9898,CNY,WILLOWOOD HANGZHOU CO LIMITED,EMAMECTIN,EMAMECTIN TECH 95%
2,Import,2021-02-05,SYNGENTA INDIA LIMITED,AUSTRIA,EVICENT 50 KG(EMAMECTIN BENZOATE 5% W/W+LUFENU...,1800.0,KGS,190.296299,342533.3379,INR,SYNGENTA ASIA PACIFIC PRIVATE LIMITED,EMAMECTIN,EMAMECTIN Others
3,Import,2021-02-19,SYNGENTA INDIA LIMITED,AUSTRIA,EVICENT 50 KG(EMAMECTIN BENZOATE 5% W/W+LUFENU...,2250.0,KGS,190.554503,428747.6312,INR,SYNGENTA ASIA PACIFIC PRIVATE LIMITED,EMAMECTIN,EMAMECTIN Others
4,Import,2021-03-04,CRYSTAL CROP PROTECTION LIMITED,CHINA,EMAMECTIN BENZOATE TECHNICAL 95% (MIN) (CIB NO...,3000.0,KGS,228.500000,685500.0000,USD,HEBEI VEYONG BIO CHEMICAL CO LIMITED,EMAMECTIN,EMAMECTIN TECH 95%

In [43]:
temp.shape

(669940, 13)

In [44]:
temp2.shape

(301915, 13)

In [45]:
list1 = temp.columns

In [46]:
list2 = temp2.columns

In [47]:
list1 == list2

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [48]:
list3 = df1.columns

In [49]:
list1 == list3

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [50]:
data = pd.concat([df1,temp,temp2],axis = 0)

In [51]:
data.shape

(995737, 13)

----------------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------------

In [52]:
data.isnull().sum()

Type                         0
Date                         0
IMPORTER/EXPORTER NAME       2
Country                     10
PRODUCT DESCRIPTION          1
QTY                          0
UNIT                         0
UNIT PRICE (USD)             0
Total_VALUE_USD              0
INVOICE CURRENCY             0
SUPPLIER/BUYER NAME       4414
Molecule Name                0
Product Name                 0
dtype: int64

In [53]:
data2 = data.dropna()

In [54]:
data2.isnull().sum()

Type                      0
Date                      0
IMPORTER/EXPORTER NAME    0
Country                   0
PRODUCT DESCRIPTION       0
QTY                       0
UNIT                      0
UNIT PRICE (USD)          0
Total_VALUE_USD           0
INVOICE CURRENCY          0
SUPPLIER/BUYER NAME       0
Molecule Name             0
Product Name              0
dtype: int64

In [55]:
data2.shape

(991310, 13)

In [56]:
data2['Avg_Price'] = data2['Total_VALUE_USD']/data2['QTY']

C:\Users\S1130866\AppData\Local\Temp/ipykernel_19364/2941699651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['Avg_Price'] = data2['Total_VALUE_USD']/data2['QTY']

In [57]:
data2.shape

(991310, 14)

In [58]:
from matplotlib import pyplot as plt
import seaborn as sns

In [64]:
data2.to_excel(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Compiled_File\Main.xlsx",sheet_name = 'Data')

In [65]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 991310 entries, 0 to 31408
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Type                    991310 non-null  object
 1   Date                    991310 non-null  object
 2   IMPORTER/EXPORTER NAME  991310 non-null  object
 3   Country                 991310 non-null  object
 4   PRODUCT DESCRIPTION     991310 non-null  object
 5   QTY                     991310 non-null  float64
 6   UNIT                    991310 non-null  object
 7   UNIT PRICE (USD)        991310 non-null  float64
 8   Total_VALUE_USD         991310 non-null  float64
 9   INVOICE CURRENCY        991310 non-null  object
 10  SUPPLIER/BUYER NAME     991310 non-null  object
 11  Molecule Name           991310 non-null  object
 12  Product Name            991310 non-null  object
 13  Avg_Price               991287 non-null  float64
dtypes: float64(4), object(10)
memory usage: 145.7+ MB

In [66]:
data3 = data2.dropna()

In [67]:
data3['Date'] = pd.to_datetime(data3['Date'])

C:\Users\S1130866\AppData\Local\Temp/ipykernel_19364/1075002018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['Date'] = pd.to_datetime(data3['Date'])

In [68]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 991287 entries, 0 to 31408
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Type                    991287 non-null  object
 1   Date                    991287 non-null  datetime64[ns]
 2   IMPORTER/EXPORTER NAME  991287 non-null  object
 3   Country                 991287 non-null  object
 4   PRODUCT DESCRIPTION     991287 non-null  object
 5   QTY                     991287 non-null  float64
 6   UNIT                    991287 non-null  object
 7   UNIT PRICE (USD)        991287 non-null  float64
 8   Total_VALUE_USD         991287 non-null  float64
 9   INVOICE CURRENCY        991287 non-null  object
 10  SUPPLIER/BUYER NAME     991287 non-null  object
 11  Molecule Name           991287 non-null  object
 12  Product Name            991287 non-null  object
 13  Avg_Price               991287 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(9)
memory usage: 113.4+ MB

In [69]:
data3.isnull().sum()

Type                      0
Date                      0
IMPORTER/EXPORTER NAME    0
Country                   0
PRODUCT DESCRIPTION       0
QTY                       0
UNIT                      0
UNIT PRICE (USD)          0
Total_VALUE_USD           0
INVOICE CURRENCY          0
SUPPLIER/BUYER NAME       0
Molecule Name             0
Product Name              0
Avg_Price                 0
dtype: int64

In [71]:
data3.to_excel(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Compiled_File\Main.xlsx",sheet_name = 'Data')

In [72]:
data4 = data3[data3['Molecule Name'] != 'Others']

In [73]:
data4.shape

(153707, 14)

In [74]:
data3.shape

(991287, 14)

In [75]:
data4.to_excel(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Compiled_File\Main.xlsx",sheet_name = 'Data')

In [77]:
data4['UNIT'].value_counts()

KGS      55183
KGS      26313
NOS      15509
NOS      15180
LTR      12789
LT/KG     6219
MTS       5368
PCS       5224
MTS       3501
PCS       3333
LTR       1334
SET       1184
GMS        837
SET        651
UNT        424
UNT        188
MGS        121
GMS        115
MGS         63
VLS         54
VLS         37
KGA         16
CTM         12
PAC          8
LBS          7
MTR          5
MLT          4
DOZ          4
THD          3
KLR          3
DRM          2
CAN          2
LBS          2
MTR          2
BTL          2
SQM          1
CBM          1
KIT          1
GRS          1
TUB          1
RLS          1
PRS          1
BAG          1
Name: UNIT, dtype: int64

In [79]:
data4.columns

Index(['Type', 'Date', 'IMPORTER/EXPORTER NAME', 'Country',
       'PRODUCT DESCRIPTION', 'QTY', 'UNIT', 'UNIT PRICE (USD)',
       'Total_VALUE_USD', 'INVOICE CURRENCY', 'SUPPLIER/BUYER NAME',
       'Molecule Name', 'Product Name', 'Avg_Price'],
      dtype='object')

In [81]:
data4['IMPORTER/EXPORTER NAME'].nunique()

4281