In [26]:
import numpy as np 
import pandas as pd
import re 
import os

In [27]:
df = pd.read_csv(r"C:\Users\S1130866\Desktop\Product_Automate\product.csv")
products = [i for i in set(df.Products.str.lower().tolist()) if not isinstance(i, (int, float)) and i != '0']

In [28]:
# Taking the file path input from the user 

file_path = input('Enter a file path: ')

# e.g. C:\Users\Bob\Desktop\example.txt
# or /home/Bob/Desktop/example.txt
print(file_path)

if os.path.exists(file_path):
    print('The file exists')

    with open(file_path, 'r', encoding="latin-1") as f:
        lines = f.readlines()

else:
    print('The specified file does NOT exist')

Enter a file path: C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\File to be worked on\September 2022\Import\38_Imp_TY2_Sep-22.xlsx
C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\File to be worked on\September 2022\Import\38_Imp_TY2_Sep-22.xlsx
The file exists

In [29]:
df2 = pd.read_excel(file_path)

In [30]:
df2.head()

,Port Code,Indian Port,Declaration No,Date,Importer Name,Address,City,CHA No,CHA Name,Country Origin,...,Total Value Usd,Total_Duty_Usd,Loading Port,Inv Currency,Supplier Name,Supplier Address,BE Type,IEC Phone,IEC Email,IEC Contact
0,INSBC6,BIOCON SPECIAL ECONOMIC ZONE (SEZ),2209AXXFBXH,2022-09-01,SYNGENE INTERNATIONAL LIMITED UNIT IV,NaN,NaN,NaN,NaN,SINGAPORE,...,1609.192547,0.0,NaN,USD,PERKIN ELMER SINGAPORE PRIVATE LIMITED,NaN,NULL,NaN,NaN,NaN
1,NOTFND,ZZZ- UNKNOWN (SEZ),2209AXXFBXI,2022-09-01,SE FORGE LIMITED,SUZLON 5 SHRIMALI SOCIETY NEAR SHRI KRISHNA CO...,"AHMEDABAD, GUJARAT",NaN,NaN,CHINA,...,78609.689441,0.0,NaN,USD,JINAN SHENGQUAN GROUP SHARE HOLDING CO LIMITED,"DIAOZHEN INDUSTRIAL DEVELOPMENT ZONZHANGQUI, S...",NULL,'919922277022,rvilas@suzlon.com,PRATIMA RAM
2,INCJJ6,J. MATADEE CHENNAI FREE TRADE ZONE (SEZ),2209AXXFBAX,2022-09-01,DHL LOGISTICS PRIVATE LIMITED,"201 A SILVER UTOPIA CARDINAL, GRACIAS ROAD CHA...","MUMBAI, MAHARASHTRA",NaN,NaN,UNITED STATES,...,3029.530932,0.0,NaN,USD,BECKMAN COULTER INC,250 SOUTH KRAEMER BLVDBREA 92821 UNITED STATES,NULL,'919833400325,sheeja.nair@dhl.com,MR. GEORGE RALTON LAWSON
3,INAJM6,MUNDRA PORT & SEZ LTD (SEZ),2209AXXFBAA,2022-09-01,KERRY INDEV LOGISTICS PRIVATE LIMITED,"NEW NO.81, OLD NO.41, THAMBU CHETTYSTREET","CHENNAI, TAMIL NADU",NaN,NaN,CHINA,...,118936.645963,0.0,NaN,USD,YUNNAN TIN CO LIMITED,NaN,NULL,'918754407049,madhan@indevlogistics.com,"SIVASANKARAN JAYARAMAN,JAYARAMAN MAHALINGAM"
4,INZIP6,ZYDUS INFRASTRUCTURE PVT. LTD. (SEZ),2209AXXFBAB,2022-09-01,INTAS PHARMACEUTICALS LIMITED,"CORPORATE HOUSE, NR. SOLA BRIDGE, S.G. HIGHWAY...","HMEDABAD, GUJARAT",NaN,NaN,UNITED STATES,...,44828.750807,0.0,NaN,USD,MULTISORB TECHNOLOGIES INC,325 HARLEM ROADBUFFALO NY 14224USA,NULL,'919824018046,international_logistics@intaspharma.com,"MR. NIMISHBHAI CHUDGAR,SHRI. HASMUKHBHAI CHUDGAR"

### Looping through the Product Description column and searching for elements in the Product column and the "2 4 d " AI.

In [31]:
map_24d = { v: '2 4 d' for v in ['2 4-d', '24 d', '2,4-d', '2 4 d', '2 4- d', '2 4 -d', '2 4d',
       '2, 4 d', '2, 4-d', '2,4 - d', '2,4 d', '2,4- d', '2,4d', '2-4-d',
       '24d', '2-4 d', '24- d', '2-4- d', '2-4d', '24-d', '2, 4- d',
       '2, 4d', '2- 4-d']}


def find_prod(x):
   
    #a = ('azoxystrobin')
    if re.search('R&D|RESEARCH|FREE SAMPLE|TESTING|SAMPLE|research|r&d|free|sample',x) :
        return ""
    temp_products = list(set([i for i in products if i in re.split(' |\(|\)|\+|\\|/|\*|-|\s|\d',x.lower())]))
    if re.search('[2][-,\s]*[4][-\s]*[d]',x) :
        temp_products += [map_24d[re.search('[2][-,\s]*[4][-\s]*[d]',x)[0]]]
    #if re.search('AZOXY.{,50}|azoxy.{,50}',x):
        #temp_products += a
    if re.search('POTASH|potash|NPS|nps|PHOSPHATE|phosphate|SULFATE|sulfate|SULPHATE|sulphate',x):
        if len(temp_products)<1:
            temp_products += 'fertilizer'
    if len(temp_products)>1 :
        temp_products = [i for i in temp_products if i!='pesticide']
        temp_products = [i for i in temp_products if i!='pesticides']
        temp_products = [i for i in temp_products if i!='rynaxypyr']
    return temp_products

In [32]:
df2['Goods Description'] = df2['Goods Description'].map(str)

In [33]:
temp = df2['Goods Description'].apply(lambda x: find_prod(x))
# temp = temp.apply(lambda x:pesticide_check(x))

temp_processed = temp.apply(lambda x: ", ".join(x) if len(x)>=1 else "")

In [34]:
df2.loc[np.logical_and(df2['Unit'].gt('GMS'), np.less_equal(df2['Quantity'], 1)), 'Product'] = ''
#if df2.loc[df2['Quantity']]== 0 :
#   df2['Product'] = ''
df2.loc[df2["Quantity"]==0, "Product"] = ""

In [35]:
temp_processed.replace('a, z, o, x, y, s, t, r, o, b, i, n','azoxystrobin',inplace = True)
temp_processed.replace('f, e, r, t, i, l, i, z, e, r','fertilizer',inplace = True)
temp_processed.replace('mancozebe','mancozeb',inplace = True)
temp_processed.replace('amoniusaltglyphosate71','glyphosate',inplace = True)
temp_processed.replace('AMONIUSALTGLYPHOSATE7171','glyphosate',inplace = True)
temp_processed.replace('rynaxypyr','chlorantraniliprole',inplace = True)
temp_processed.replace('glyphosatee','glyphosate',inplace = True)
temp_processed.replace('','Others',inplace = True)

In [36]:
df2['Product'] = temp_processed

In [37]:
df2['Product'] = df2['Product'].fillna('Others')

In [38]:
df2['Product'].value_counts()

Others                      50595
oil                           770
calcium                       558
control                       506
sodium                        409
                            ...
tebuconazole, prochloraz        1
warfarin, sodium                1
humate, sodium                  1
benzisothiazolin, proxel        1
sulphur, sulfur                 1
Name: Product, Length: 280, dtype: int64

In [39]:
df2.columns

Index(['Port Code', 'Indian Port', 'Declaration No', 'Date', 'Importer Name',
       'Address', 'City', 'CHA No', 'CHA Name', 'Country Origin', 'HS Code',
       'Goods Description', 'Quantity', 'Unit', 'Unit Price Usd',
       'Total Value Usd', 'Total_Duty_Usd', 'Loading Port', 'Inv Currency',
       'Supplier Name', 'Supplier Address', 'BE Type', 'IEC Phone',
       'IEC Email', 'IEC Contact', 'Product'],
      dtype='object')

In [40]:
df2['Unit'].value_counts()

NOS    24258
KGS    17857
PCS     8974
SET     2154
MTS     1187
LTR      857
UNT      451
GMS      221
MGS      180
VLS       42
PAC       18
LBS       17
GRS       14
PRS       13
DOZ       11
BTL       10
KIT        6
RLS        4
CTN        4
THD        4
CAS        3
BAG        3
MLT        3
MTR        3
TUB        2
CBM        2
BOX        2
DRM        1
Name: Unit, dtype: int64

### ----------------------------------------------------------- SUFFIX -------------------------------------------------------------------------

In [41]:
def suf(x):
    temp_suffix = [] 
    if re.search('tech.{,50}|TECH.{,50}',x):
        temp_suffix = "TECH"
    elif re.search('IPA SALT|ipa salt',x):
        temp_suffix = "IPA SALT"
    elif re.search('62% IPA SALT|62% ipa salt',x):
        temp_suffix = "62% IPA SALT"
    elif re.search('41% SL|41% sl',x):
        temp_suffix = '41% SL'
    elif re.search('ALION PLUS.{50}|alion plus.{50}',x):
        temp_suffix = "ALION PLUS"
    else :
        temp_suffix = "Others"
    return temp_suffix

In [42]:
df2['suffix'] =  df2['Goods Description'].apply(lambda x: suf(x))

In [43]:
#Writing the concerned file
df2.to_csv('output_file.csv')

.

In [44]:
pwd

'C:\\Users\\S1130866\\Desktop'

.

## -------------------------------------------------------------------------------------------------------------------------

.

.