In [59]:
import numpy as np 
import pandas as pd
import re 
import os

In [37]:
df1 = pd.read_excel(r"C:\Users\S1130866\Desktop\Main.xlsx")

In [38]:
df1.head()

,Type,Date,IMPORTER/EXPORTER NAME,Country,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Product Name,QTY_MT,UNIT_MT,AI
0,Import,2022-01-01,S s international,Indonesia,GUM ROSIN WW GRADE IN ZINC DRUMS (NOT FOR USE ...,19200.0,KGS,1.735000,3.331200e+04,USD,PERUM PERHUTANI,zinc,zinc Others,19.2,MT,not relevant
1,Import,2022-01-01,Dbl ventures private limited,Malaysia,COATED CALCIUM CARBONATE PRI-2T (25KG/PRINTED ...,185.5,MTS,161.528847,2.996360e+04,USD,PULAI ROCK INDUSTRIES SDN BHD,calcium,calcium Others,185.5,MT,calcium others
2,Import,2022-01-01,Dbl ventures private limited,Malaysia,COATED CALCIUM CARBONATE PRI-2T (25KG/PRINTED ...,265.0,MTS,180.397302,4.780529e+04,USD,PULAI ROCK INDUSTRIES SDN BHD,calcium,calcium Others,265.0,MT,calcium others
3,Import,2022-01-01,Merchem limited,China,INSOLUBLE SULPHUR HD OT-20,14000.0,KGS,1.600000,2.240000e+04,USD,SHANDONG YANGGU HUATAI INTERNATIONAL,sulphur,sulphur Others,14.0,MT,not relevant
4,Import,2022-01-01,Bayer,Japan,FLUBENDIAMIDE (NIH-KM) TC 1X500KG FBC WW (CIB ...,10000.0,KGS,188.022294,1.880223e+06,INR,BAYER AG,flubendiamide,flubendiamide Others,10.0,MT,flubendiamide others

In [39]:
df1['SUPPLIER/BUYER NAME'].nunique()

10127

In [40]:
#### Working on the compnay column i,e SUPPLIER/BUYER NAME

company = pd.read_excel(r'C:\Users\S1130866\Desktop\Product_Automate\Country and company.xlsx')


unique = company.drop_duplicates()
unique_mismatches = unique[unique['Company'].str.lower() != unique['New'].str.lower()]
company_key_value = dict(zip(unique_mismatches['Company'].str.lower(),unique_mismatches['New'].str.lower()))
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.lower().replace(company_key_value)

In [41]:
df1['SUPPLIER/BUYER NAME'].nunique()

10109

In [42]:
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.capitalize()

In [43]:
df1.head()

,Type,Date,IMPORTER/EXPORTER NAME,Country,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Product Name,QTY_MT,UNIT_MT,AI
0,Import,2022-01-01,S s international,Indonesia,GUM ROSIN WW GRADE IN ZINC DRUMS (NOT FOR USE ...,19200.0,KGS,1.735000,3.331200e+04,USD,Perum perhutani,zinc,zinc Others,19.2,MT,not relevant
1,Import,2022-01-01,Dbl ventures private limited,Malaysia,COATED CALCIUM CARBONATE PRI-2T (25KG/PRINTED ...,185.5,MTS,161.528847,2.996360e+04,USD,Pulai rock industries sdn bhd,calcium,calcium Others,185.5,MT,calcium others
2,Import,2022-01-01,Dbl ventures private limited,Malaysia,COATED CALCIUM CARBONATE PRI-2T (25KG/PRINTED ...,265.0,MTS,180.397302,4.780529e+04,USD,Pulai rock industries sdn bhd,calcium,calcium Others,265.0,MT,calcium others
3,Import,2022-01-01,Merchem limited,China,INSOLUBLE SULPHUR HD OT-20,14000.0,KGS,1.600000,2.240000e+04,USD,Shandong yanggu huatai international,sulphur,sulphur Others,14.0,MT,not relevant
4,Import,2022-01-01,Bayer,Japan,FLUBENDIAMIDE (NIH-KM) TC 1X500KG FBC WW (CIB ...,10000.0,KGS,188.022294,1.880223e+06,INR,Bayer ag,flubendiamide,flubendiamide Others,10.0,MT,flubendiamide others

In [44]:
df1.to_excel(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Compiled_File\Main2.xlsx",sheet_name = 'Data',index = False)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\S1130866\\OneDrive - Syngenta\\Documents\\Shared\\Product_Automate\\Product_Automate\\Import_Export\\Compiled_File\\Main2.xlsx'

In [45]:
df2.shape

(137243, 16)

In [46]:
print(df1['SUPPLIER/BUYER NAME'].dtype)

object

In [56]:
### Checking for the columns that have 'Order string in them'
df1 = df1.dropna(subset=['SUPPLIER/BUYER NAME'])
df_new = df1[df1['SUPPLIER/BUYER NAME'].str.contains('ORDER',case = False)]
df_new['SUPPLIER/BUYER NAME'].value_counts().head(40)

Tothe orderof                          12
Made out to the order of united com     8
Tothe order of                          7
Order of                                6
To ther order                           6
Tothe order                             3
Febres cordero cia de comercio s.a      3
Sangam agro traders and order supp      2
Made out to order of commercial         2
Made out to the order of                2
Made out tothe order of cooperative     2
To this order                           1
Febres cordero cia de comercio s a      1
Made out to the order of orient         1
Z to order and na                       1
Febres cordero cia de comercio s.a-     1
To ther order of                        1
The order of vietnam                    1
As per order                            1
The order of                            1
Name: SUPPLIER/BUYER NAME, dtype: int64

In [50]:
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To the order of','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To order','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To the order','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To the order of g','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To the order o','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To order of','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To the order of the ','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To order .','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To th eorder','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To order o','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('Totheorder of','')
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].replace('','Others')

C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To the order of','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To order','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To the order','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To the order of g','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To the order o','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To order of','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To the order of the ','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To order .','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To order .','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To th eorder','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('To order o','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].str.replace('Totheorder of','')
C:\Users\S1130866\AppData\Local\Temp/ipykernel_16636/2192056496.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].replace('','Others')

In [ ]:
df1['SUPPLIER/BUYER NAME'] = df1['SUPPLIER/BUYER NAME'].replace('','Others')

In [51]:
df1['SUPPLIER/BUYER NAME'].value_counts()

Others                              15367
U n i                                4823
U d b i e c d i                      3036
Merck kgaa                           2543
Mr global hk limited                 1708
                                    ...
Cjp chemicals pty limited               1
Originates inc                          1
Amul cosmetic                           1
Pt sumans mandiri sejahtera             1
Al sahem altibbi medical company        1
Name: SUPPLIER/BUYER NAME, Length: 10094, dtype: int64

In [52]:
df1.to_excel(r"Main.xlsx",sheet_name = 'Data',index = False)

In [53]:
pwd

'C:\\Users\\S1130866\\Desktop\\Product_Automate'

In [58]:
df1['SUPPLIER/BUYER NAME'].value_counts().head(10)

Others                             15367
U n i                               4823
U d b i e c d i                     3036
Merck kgaa                          2543
Mr global hk limited                1708
Infineum singapore llp              1663
Abbott diagnostics gmbh             1243
Mb solutions bangladesh limited     1141
Upl na inc                           999
Chevron oronite private limited      948
Name: SUPPLIER/BUYER NAME, dtype: int64

In [60]:
df1 = pd.read_excel(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Compiled_File\Main.xlsx")

In [61]:
df1.head()

,Type,Date,IMPORTER/EXPORTER NAME,Country,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Product Name,QTY_MT,UNIT_MT,AI
0,Import,2022-01-01,S s international,Indonesia,GUM ROSIN WW GRADE IN ZINC DRUMS (NOT FOR USE ...,19200.0,KGS,1.735000,3.331200e+04,USD,Perum perhutani,zinc,zinc Others,19.2,MT,not relevant
1,Import,2022-01-01,Dbl ventures private limited,Malaysia,COATED CALCIUM CARBONATE PRI-2T (25KG/PRINTED ...,185.5,MTS,161.528847,2.996360e+04,USD,Pulai rock industries sdn bhd,calcium,calcium Others,185.5,MT,calcium others
2,Import,2022-01-01,Dbl ventures private limited,Malaysia,COATED CALCIUM CARBONATE PRI-2T (25KG/PRINTED ...,265.0,MTS,180.397302,4.780529e+04,USD,Pulai rock industries sdn bhd,calcium,calcium Others,265.0,MT,calcium others
3,Import,2022-01-01,Merchem limited,China,INSOLUBLE SULPHUR HD OT-20,14000.0,KGS,1.600000,2.240000e+04,USD,Shandong yanggu huatai international,sulphur,sulphur Others,14.0,MT,not relevant
4,Import,2022-01-01,Bayer,Japan,FLUBENDIAMIDE (NIH-KM) TC 1X500KG FBC WW (CIB ...,10000.0,KGS,188.022294,1.880223e+06,INR,Bayer ag,flubendiamide,flubendiamide Others,10.0,MT,flubendiamide others

In [62]:
df2 = df1.copy()

In [64]:
df2 = df2.loc[df2['QTY_MT']>0.01]

In [65]:
df1.shape

(137089, 16)

In [66]:
df2.shape

(122350, 16)

In [67]:
df2.to_excel(r"C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\Compiled_File\Main.xlsx",sheet_name = 'Data',index = False)